<h1>Hola {{Profile.User}} </h1>
<h3>Email: {{Profile.Email}}</h3>
<h3>Edad: {{Profile.Age}}</h3>
<h3>Rol: {{Profile.Rol}}</h3>
<h2>Real Time Products</h2>

<form id="formProduct">
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" id="title" placeholder="Ingrese Nombre del Producto"
                required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="description" id="description"
                placeholder="Ingrese description" required>
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" name="stock" id="stock" placeholder="Ingrese su stock" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url"
                required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="category" id="category" placeholder="Ingrese categoria"
                required>
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" name="price" id="price" placeholder="Ingrese su precio" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="code" id="code" placeholder="Ingrese su code" required>
        </div>
        <button type="submit" class="btn btn-primary" id="add-btn">Registrar</button>
    </div>
</form>

<form id="formProduct">
    <h2> Para eliminar un producto</h2>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="mb-3">
            <input type="number" class="form-control" name="id-prod" id="id-prod" placeholder="Ingrese ID">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" id="delete-btn">Eliminar</button>
        </div>
    </div>
</form>

<div class="card-group" id="list-products">

</div>

<div class="m-3">
    <a href="../logout" class="btn btn-primary">Log Out</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>